body{
	font-family: "微软雅黑"；
}
#jumbotron1{
	background: #ffb13d;
	height: 580px;
}
#lefttextdiv{
	text-align: center;
	vertical-align: middle;
	margin-top: 80px;
	color: #fff;
}
#lefttextdiv h3{
	height: 100px;
}
#righttextdiv{
	text-align: center;
}
#righttextdiv img{
	max-height: 500px;
	margin: auto;
}
#button_1{
	height: 100px;
    padding: 0;
}